src/main/mule/demo-ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3f3480be-0a8b-4bf5-9a83-8caf62860a0c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo-ci-cdFlow" doc:id="1924d85b-885f-401e-8f2e-1a2dcfecf6f7" >
		<http:listener doc:name="Listener" doc:id="4d84fca8-f221-4a68-8f9f-950dc32f55b4" config-ref="HTTP_Listener_config" path="/demo-ci-cd"/>
		<ee:transform doc:name="Transform Message" doc:id="08808db6-7c6e-4d3d-b1c7-2aed28373b97" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"CI": "CD"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6582eda0-79c1-4d31-9a12-0fcc9335e551" message='#["Hello World"]'/>
	</flow>
</mule>
